<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd">

  
    <!-- Enable component scanning for automatic bean detection自动扫描注解 -->
    <context:component-scan base-package="edu.gust"></context:component-scan>


    <!-- 将指定类配置给Spring，让Spring创建HelloSpring对象的实例 -->
    <bean id="helloBean" class="edu.gust.beans.Hello">
        <!--为userName属性赋值-->
        <property name="userName" value="张三"></property>
    </bean>

    <bean id="user1Bean" class="edu.gust.pojo.User1">
        <constructor-arg name="id" value="1">
        </constructor-arg>
        <constructor-arg name="name" value="张三">
        </constructor-arg>
        <constructor-arg name="password" 	value="123"></constructor-arg>
    </bean>

    <bean id="user2Bean" class="edu.gust.pojo.User2">
        <property name="id" value="2"></property>
        <property name="name" value="李四"></property>
        <property name="password" value="456"></property>
    </bean>

    <bean id="userDaoBean" 	class="edu.gust.dao.impl.UserDao"></bean>


    <bean id="userServiceBean" class="edu.gust.service.impl.UserService">
        <property name="userDao" ref="userDaoBean"></property>
    </bean>


<!--     <bean id="bean1" class="edu.gust.beans.Bean1"></bean> -->

<!--     <bean id="bean1" class="edu.gust.beans.Bean1" scope="singleton"></bean> -->

    <bean id="bean1" class="edu.gust.beans.Bean1" scope="prototype"></bean>


    <bean id="bean2" class="edu.gust.beans.Bean2Factory" factory-method="createBean"></bean>

    <!-- 配置工厂 -->
    <bean id="Bean3Factory" class="edu.gust.beans.Bean3Factory"></bean>
    <!-- 使用factory-bean属性指向配置的实例工厂-->  
    <bean id="bean3" factory-bean="Bean3Factory" factory-method="createBean"></bean>


    <!-- 注册Bean -->
    <bean name="userDao5" class="edu.gust.dao.impl.UserDao5"/>
    <bean name="xmlAdvice" class="edu.gust.aop.XmlAdvice"/>


    <aop:config>
        <aop:pointcut id="pointcut" expression="execution(* edu.gust.dao.impl.UserDao5.*(..))"/>
        <aop:aspect ref ="xmlAdvice">
            <aop:before method="before" pointcut-ref="pointcut"/>
            <aop:after-returning method="afterReturning" pointcut-ref="pointcut"/>
            <aop:around method="around" pointcut-ref="pointcut"/>
            <aop:after-throwing method="afterException" pointcut-ref="pointcut"/>
            <aop:after method="after" pointcut-ref="pointcut"/>
        </aop:aspect>
    </aop:config>


    <!-- 注册Bean -->
    <bean name="userDao5_Anno" class="edu.gust.dao.impl.UserDao5"/>
    <bean name="AnnoAdvice" class="edu.gust.aop.AnnoAdvice"/>
    <!-- 开启@aspectj的自动代理支持 -->
    <aop:aspectj-autoproxy/>




</beans>