<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gust.mapper.CustomerMapper">
    
    <sql id="Base_Column_List">
        id, name, phone, email, address, jobs
    </sql>


    <select id="queryCustomersByCondition" parameterType="org.gust.pojo.Customer" resultType="org.gust.pojo.Customer">
        SELECT * FROM customer
        <where>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="phone != null and phone != ''">
                AND phone LIKE CONCAT('%', #{phone}, '%')
            </if>
            <if test="email != null and email != ''">
                AND email LIKE CONCAT('%', #{email}, '%')
            </if>
            <if test="address != null and address != ''">
                AND address LIKE CONCAT('%', #{address}, '%')
            </if>
            <if test="jobs != null and jobs != ''">
                AND jobs LIKE CONCAT('%', #{jobs}, '%')
            </if>
        </where>
    </select>

     <!-- 使用choose when otherwise查询客户 -->
    <select id="queryCustomersByChoose" parameterType="org.gust.pojo.Customer" resultType="org.gust.pojo.Customer">
        SELECT 
        <include refid="Base_Column_List" />
        FROM customer
        <where>
            <choose>
                <when test="name != null and name != ''">
                    AND name LIKE CONCAT('%', #{name}, '%')
                </when>
                <when test="phone != null and phone != ''">
                    AND phone LIKE CONCAT('%', #{phone}, '%')
                </when>
                <when test="email != null and email != ''">
                    AND email LIKE CONCAT('%', #{email}, '%')
                </when>
                <otherwise>
                    AND 1=1
                </otherwise>
            </choose>
        </where>
        ORDER BY id DESC
    </select>


    <!-- 查询所有客户 -->
    <select id="selectAll" resultType="org.gust.pojo.Customer">
        SELECT 
        <include refid="Base_Column_List" />
        FROM customer
        ORDER BY id DESC
    </select>


    <!-- 插入数据 -->
    <insert id="insert" parameterType="org.gust.pojo.Customer" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO customer (
            name, phone, email, address, jobs, create_time, update_time
        ) VALUES (
            #{name}, #{phone}, #{email}, #{address}, #{jobs}, NOW(), NOW()
        )
    </insert>

    <!-- 更新数据 -->
    <update id="update" parameterType="org.gust.pojo.Customer">
        UPDATE customer
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="jobs != null and jobs != ''">
                jobs = #{jobs},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 删除数据 -->
    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM customer WHERE id = #{id}
    </delete>
</mapper>