<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.gust.mapper.ProductMapper">
    <select id="findProductById" parameterType="Integer" resultType="org.gust.pojo.Product">
        SELECT DISTINCT p.* 
        FROM products p
        INNER JOIN order_items oi ON p.id = oi.product_id
        WHERE oi.order_id = #{id}
    </select>
</mapper>
